<div class="row">
  <h1 class="text-center">Sign Up Form</h1>
  <div class="col-md-5 col-xs-offset-1" >
	{{regForm.completed}}
    <fieldset>
      <form name='regForm' novalidate>
		<label>First Name:</label>
        <input class="form-control" type="text" name="firstname" placeholder="Pick a first name"
          ng-model="signCtrl.user.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          {{ regForm.user.firstname }}
        <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            first name must be at least 4 characters long
        </span>
        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            first name must not be longer than 10 characters
        </span>
		<div class="error" ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">Fist name is required</div>
        <br>
		
		<label>Last Name:</label>
		<input class="form-control" type="text" name="lastname" placeholder="Pick a last name"
          ng-model="signCtrl.user.lastname"
          required
          minlength="4"
          ng-maxlength="10">
          {{ regForm.user.lastname }}
        <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            last name must be at least 4 characters long
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            last name must not be longer than 10 characters
        </span>
        <br>
		
		<label>Email:</label>
        <input class="form-control" type="email" name="email" placeholder="Email"
          ng-model="signCtrl.user.email"
          required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
        </span>
        <br>

		<label>Phone:</label>
        <input class="form-control" type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})"
		  required>
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
        </span>
        <br>
		
		<label>Your favorite dish:</label>
		<input class="form-control" type="text" name="favdish" placeholder="Enter favorite dish"
			  ng-model="signCtrl.user.favdish"
			  required>
			  {{ regForm.user.favdish }}
		<span ng-if="regForm.completed">
            Must be entrer your favorite dish
        </span> 
		<div class="error" ng-if="userForm.fav.$error.required && 	userForm.fav.$touched">
        Your Favorite dish is required    </div>
        <div class="error" ng-if="signCtrl.itemError">
		No such menu number exists   </div>
		<br>
		
        <button
          ng-disabled="regForm.$invalid"
          ng-click="signCtrl.doSignup()">Submit</button>
		
		<div class="col-md-5  bg-info text-success" ng-if="signCtrl.okSign" >
			<h3 class="text-danger">  Congratulations  ,  Your information has been saved !!!!!! </h3>
			<strong>   Your Favorite item is : </strong> 
	
			<menu-item  menu-item="signCtrl.itemd" >
			</menu-item>
	    </div>
   
      </form>
    </fieldset>
  </div>
 </div> 